<!DOCTYPE html>
<html>
<head>
    <title>Trollian</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="imageContainer">
            <img src="Trollian_Icon.jpg" alt="The Trollian Icon; A simplified smiling human face with horns, all in black against a red background"></img>

        </div>
        <div id="headerContainer">
            <h1>Trollian</h1>
        </div>
        <div id="personContainer">
            <p>trolling: vacuousVersifer</p>
        </div>
        <ul id="messageContainer">
            <li>VV: Hello, world!</li>
        </ul>
        <form id="inputContainer">
            <input id="textInput" type="text">
            <button>Send</button>
        </form>
        <div id="rollContainer">
            <h5>ChumpRoll</h5>
            <ul>
            <li>ectoBiologist</li>
            <li>vacuousVersifer</li>
            </ul>
        </div>
    </div>
</body>
</html>
